[submodule "external/Vookoo"]
	path = external/Vookoo
	url = https://github.com/andy-thomason/Vookoo.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/VulkanMemoryAllocator-Hpp"]
	path = external/VulkanMemoryAllocator-Hpp
	url = https://github.com/alfariiizi/VulkanMemoryAllocator-Hpp.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/alfariiizi/stb.git
